body {
    background-color: black;
    color: white;
}

img {
    border: 5px solid white;
    width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: "Libre Baskerville";
}

h1 {
    text-transform: uppercase;
}

h2 {
    font-size: 10px;
}

div {
    width: 50%;
    margin-left: 25%;
}